@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
.home-container{
    
    font-family: 'Lora', serif;
    line-height: 10px;
}
.home-container h2{
    font-size: 100px;
    margin-top: 170px;
}
.home-container p{
    font-size: 20px;
}